# Tax Calculator

Asks the user to enter a cost and either a country or state tax. It then returns the tax plus the total cost with tax.

<table>
<tr>
    <th>Tax Bracket</th> 
    <th>Single</th>
    <th>Married Filling Jointly</th>
    <th>Married Filling Separately</th>
    <th>Head of Household</th>
</tr>

<tr>
    <td>10%</td>
    <td>Up to &#36;9875</td> 
    <td>Up to &#36;19750</td>
    <td>Up to &#36;9875</td> 
    <td>Up to &#36;14100</td>
</tr>

<tr>
    <td>12%</td>
    <td>&#36;9876-40125</td> 
    <td>&#36;19751-80250</td>
    <td>&#36;9876-40125</td> 
    <td>&#36;14101-53700</td>
</tr>

<tr>
    <td>22%</td>
    <td>&#36;40126-85525</td> 
    <td>&#36;80251-171050</td>
    <td>&#36;40126-85525</td> 
    <td>&#36;53701-85500</td>
</tr>

<tr>
    <td>24%</td>
    <td>&#36;85526-163300</td> 
    <td>&#36;171051-326600</td>
    <td>&#36;85526-163300</td> 
    <td>&#36;85501-163300</td>
</tr>

<tr>
    <td>32%</td>
    <td>&#36;163301-207350</td> 
    <td>&#36;326601-414700</td>
    <td>&#36;163301-207350</td> 
    <td>&#36;163301-207350</td>
</tr>

<tr>
    <td>35%</td>
    <td>&#36;207351-518400</td> 
    <td>&#36;414701-622050</td>
    <td>&#36;207351-311025</td> 
    <td>&#36;207351-518400</td>
</tr>

<tr>
    <td>37%</td>
    <td>&#36;518401 or more</td> 
    <td>&#36;622051 or more</td>
    <td>&#36;311026 or more</td> 
    <td>&#36;518401 or more</td>
</tr>
</table>

In [20]:
from ipywidgets import widgets, interact

In [29]:
def tax_calculation(total_income,filling_status,location,year):
    
    result = 0
    
    if filling_status == 'Single':
        if total_income <= 9875:
            result = total_income*0.10
        elif 9876 <= total_income <= 40125:
            result = 9875*0.10 + (total_income-9875)*0.12 
        elif 40126 <= total_income <= 85525:
            result = 9875*0.10 + (40125-9876)*0.12 + (total_income-40125)*0.22
        elif 85526 <= total_income <= 163300:
            result = 9875*0.10 + (40125-9876)*0.12 + (85525-40126)*0.22 + (total_income-85525)*0.24
        elif 163301 <= total_income <= 207350:
            result = 9875*0.10 + (40125-9876)*0.12 + (85525-40126)*0.22 + (16330-85526)*0.24 + (total_income-16330)*0.32
        elif 207351 <= total_income <= 518400:
            result = 9875*0.10 + (40125-9876)*0.12 + (85525-40126)*0.22 + (16330-85526)*0.24 + (207350-16331)*0.32 + (total_income-207350)*0.35
        elif 518401 <= total_income:
            result = 9875*0.10 + (40125-9876)*0.12 + (85525-40126)*0.22 + (16330-85526)*0.24 + (207350-16331)*0.32 + (518400-207350)*0.35 + (total_income-518400)*0.37
    
    elif filling_status == 'Married Filling Jointly':
        if total_income <= 19750:
            result = total_income*0.10
        elif 19751 <= total_income <= 80250:
            result = 19751*0.10 + (total_income-19751)*0.12 
        elif 80251 <= total_income <= 171050:
            result = 19751*0.10 + (80250-19751)*0.12 + (total_income-80251)*0.22
        elif 171051 <= total_income <= 326600:
            result = 19751*0.10 + (80250-19751)*0.12 + (171050-80251)*0.22 + (total_income-171051)*0.24
        elif 326601 <= total_income <= 414700:
            result = 19751*0.10 + (80250-19751)*0.12 + (171050-80251)*0.22 + (326601-171051)*0.24 + (total_income-326601)*0.32
        elif 414701 <= total_income <= 622050:
            result = 19751*0.10 + (80250-19751)*0.12 + (171050-80251)*0.22 + (326600-717051)*0.24 + (414700-326601)*0.32 + (total_income-414701)*0.35
        elif 622051 <= total_income:
            result = 19751*0.10 + (80250-19751)*0.12 + (171050-80251)*0.22 + (326600-717051)*0.24 + (414700-326601)*0.32 + (622050-414701)*0.35 + (total_income-622051)*0.37
    
    elif filling_status == 'Married Filling Separately':
        #too tired to convert the formula
        result = "unkown"
    
    elif filling_status == 'Head of Household':
        #too tired to convert the formula
        result = "unkown"
    
    else:
        print("Please choose your filling status firstly.")
        
    print("Your {} Federal Income Tax Plus FICA : ${}".format(year, result))

In [44]:
style = {"description_width": "initial"}

total_income = widgets.BoundedIntText(
    value=5000,
    min=0,
    max=1000000,
    step=1,
    description='Your Total Income (dollars):',
    disabled=False,
    style = style,
)

filling_status = widgets.Dropdown(
    options=["Single",'Married Filling Jointly', 
             'Married Filling Separately', 'Head of Household',
             "Choose Your Location"],
    value="Choose Your Location",
    description='Your Filling Status:',
    disabled=False,
    style = style,
)

location = widgets.Dropdown(
    options=["Washington",'Oregon', "California", "Nevada", "Montana"
             'Texas', 'Illinois', 'Maryland', 'Florida', 'South California',
             "Choose Your Location"],
    value="Choose Your Location",
    description='Your Location:',
    disabled=False,
    style = style,
)

year = widgets.BoundedIntText(
    value=2022,
    min=2000,
    max=2022,
    step=1,
    description='Year:',
    disabled=False,
    style = style,
)

In [46]:
tab = widgets.Tab([total_income, filling_status, location, year])
tab.children = [total_income, filling_status, location, year]
tab.set_title(0,"Total Income")
tab.set_title(1,"Filling Status")
tab.set_title(2,"Location")
tab.set_title(3,"Year")

out = widgets.interactive_output(tax_calculation, {"total_income": total_income, 
                                                   "filling_status": filling_status, 
                                                   "location":location,
                                                   "year":year})

display(tab, out)

Tab(children=(BoundedIntText(value=5000, description='Your Total Income (dollars):', max=1000000, style=Descriâ€¦

Output()